---
import type { UseCaseCardItem } from '@data/use-cases';
import GifVideo from '../GifVideo.astro';

interface Props {
	item: UseCaseCardItem;
	featured?: boolean;
}

const { item, featured = false } = Astro.props;

const mp4Src = item.video?.find((src) => src.endsWith('.mp4'));
const webmSrc = item.video?.find((src) => src.endsWith('.webm'));
---

<a href={item.href} class:list={['uc-card', { 'uc-card--featured': featured }]} data-type={item.type}>
	<div class="uc-card-content">
		<h2 class="uc-card-title uc-card-title--tablet">{item.name}</h2>
		<div class="uc-card-flex">
			<div class="uc-card-media">
				<div class="uc-card-frame">
					{
						mp4Src ? (
							<GifVideo srcMp4={mp4Src} srcWebm={webmSrc} poster={item.image} className="js-initialized" />
						) : (
							<img src={item.image} alt={item.imageAlt} loading="lazy" />
						)
					}
				</div>
				<div class="uc-card-overlay"></div>
			</div>
			<div class="uc-card-text">
				<span class="uc-card-badge">{item.type}</span>
				<h2 class="uc-card-title">{item.name}</h2>
				<p class="uc-card-description">{item.description}</p>
			</div>
		</div>
	</div>
</a>
