---
import type { DeployCard } from '~/data/installations';

interface Props {
	card: DeployCard;
}

const { card } = Astro.props;
---

<a
	class="deployment-card-block"
	href={card.href}
	target={card.target}
	rel={card.target === '_blank' ? 'noopener noreferrer' : undefined}
>
	<div class="deployment-logo">
		<img src={card.logo} alt={card.logoAlt} />
	</div>
	<h4>{card.title}</h4>
</a>

<style lang="scss">
	.deployment-card-block {
		padding: 24px;
		background-color: #fff;
		border: 1px solid #ebebeb;
		border-radius: 16px;
		height: 140px;
		width: 312px;
		text-decoration: none;

		@media (max-width: 600px) {
			width: 100%;
		}

		&:hover {
			box-shadow:
				-4px 15px 50px -20px rgba(0, 0, 0, 0.15),
				0px 0px 8px 0px rgba(0, 0, 0, 0.08);
			background: #f4f8fe;

			img {
				scale: 1.22;
			}
		}

		.deployment-logo {
			position: relative;
			width: 180px;
			height: 36px;
			min-width: 180px;
			display: flex;
			align-content: center;
			margin-bottom: 28px;

			img {
				flex: 0 0 auto;
				object-fit: contain;
				height: 100%;
				vertical-align: middle;
				transition: ease-in-out 0.3s;
				transform-origin: top left;
			}
		}

		h4 {
			text-align: left;
			font-size: 16px;
			font-weight: 500;
			color: #212121;
		}
	}
</style>
