---
import type { ProductData } from '~/data/installations';
import DeploymentCard from './DeploymentCard.astro';

interface Props {
	data: ProductData;
}

const { data } = Astro.props;

const hasDeployGroups = data.deployGroups.length > 0;
const hasTwoColumns =
	hasDeployGroups &&
	data.deployGroups.length === 2 &&
	data.deployGroups.every((g) => g.type !== undefined);
---

<div class="section-container">
	<div class:list={['install-content-header', 'row', { 'margin-bottom': hasDeployGroups }]}>
		<div class="install-content-description col-lg-7">
			<h1>{data.title}</h1>
			<div class="install-content-details">
				<p set:html={data.description} />
			</div>
			<div class="row container button-container">
				{
					data.buttons.map((btn) => (
						<a
							id={btn.id}
							class:list={['btn-blue', 'gtm_button', { secondary: btn.secondary }]}
							href={btn.href}
							target={btn.target}
							rel={btn.target === '_blank' ? 'noopener noreferrer' : undefined}
						>
							{btn.label}
						</a>
					))
				}
			</div>
		</div>
		<div class="col d-flex align-items-center justify-content-center margin-mobile">
			<div class:list={['image-content', { 'width-85': data.id === 'thingsboard-trendz' }]}>
				{
					data.heroImages.map((img) => (
						<img
							src={img.src}
							alt={img.alt}
							class:list={[img.position, img.extraClass]}
						/>
					))
				}
			</div>
		</div>
	</div>

	<div class="feature">
		{
			data.features.map((col) => (
				<div class="column">
					{col.map((f) => (
						<div class="item-row">
							<div class="item-text">
								<a
									class="item-title"
									href={f.href}
									target={f.target}
									rel={f.target === '_blank' ? 'noopener noreferrer' : undefined}
								>
									{f.title}
								</a>
								<p>{f.description}</p>
							</div>
						</div>
					))}
				</div>
			))
		}
	</div>

	{hasDeployGroups && hasTwoColumns && (
		<div class="deploy">
			<h2>Deployment options</h2>
			<div class="wrapper">
				<div class="deploy-column">
					<h3 class="premise">On-premises</h3>
					<div class="deployment-cards">
						{data.deployGroups[0].cards.map((card) => (
							<DeploymentCard card={card} />
						))}
					</div>
				</div>
				<div class="deploy-divider" />
				<div class="deploy-column">
					<h3 class="cloud">Cloud</h3>
					<div class="deployment-cards">
						{data.deployGroups[1].cards.map((card) => (
							<DeploymentCard card={card} />
						))}
					</div>
				</div>
			</div>
		</div>
	)}

	{hasDeployGroups && !hasTwoColumns && (
		<div class="deploy">
			<h2>Deployment options</h2>
			<div class="wrapper">
				<div class="deploy-column">
					<div class="deployment-cards">
						{data.deployGroups[0].cards.map((card) => (
							<DeploymentCard card={card} />
						))}
					</div>
				</div>
			</div>
		</div>
	)}
</div>

<style lang="scss">
	@use '~/styles/variables' as *;

	.section-container {
		@include container;
		max-width: 1400px;
		padding: 0 15px 0 15px;
	}

	:global(.deploy) {
		position: relative;
		padding-bottom: 100px;

		&::before {
			content: '';
			display: block;
			width: 300%;
			height: 150%;
			top: -46px;
			left: -100%;
			background-color: #fff;
			position: absolute;
			z-index: -1;
		}

		h2 {
			font-weight: 600;
			font-size: 24px;
			line-height: 36px;
			margin-bottom: 34px;
		}
	}

	:global(.wrapper) {
		display: flex;
		flex-direction: column;

		@media (min-width: 992px) {
			flex-direction: row;
		}
	}

	:global(.deploy-column) {
		flex: 1;
		padding: 0;

		h3 {
			font-weight: 400;
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 22px;

			&::before {
				display: inline-block;
				content: '';
				vertical-align: middle;
				margin-right: 14px;
				width: 30px;
			}

			&.premise::before {
				height: 28px;
				background: url('/images/server-icon.svg') no-repeat;
				background-size: contain;
			}

			&.cloud {
				margin-top: 22px;

				@media (min-width: 992px) {
					margin-top: 0;
				}

				&::before {
					height: 22px;
					background: url('/images/cloud-symbol.svg') no-repeat;
					background-size: contain;
				}
			}
		}
	}

	:global(.deployment-cards) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;

		@media (min-width: 992px) {
			justify-content: start;
		}
	}

	:global(.deploy-divider) {
		display: none;
		flex: 0;
		margin: 0 40px;
		border-color: #ddd;
		border-right-width: 1px;
		border-right-style: solid;

		@media (min-width: 992px) {
			display: block;
		}
	}
</style>
