---
import BaseLayout from '../../layouts/BaseLayout.astro';

const cards = [
	{
		href: '/services/support/',
		icon: '/images/services/support-icon.svg',
		alt: 'Support plans',
		title: 'Support plans',
		desc: 'Choose most preferable support option for your solution',
	},
	{
		href: '/services/trainings/',
		icon: '/images/services/train-icon.svg',
		alt: 'Training sessions',
		title: 'Training sessions',
		desc: 'Adopt our experience to boost development of your IoT solutions',
	},
	{
		href: '/services/consulting/',
		icon: '/images/services/prof-icon.svg',
		alt: 'Professional services',
		title: 'Professional services',
		desc: 'Ensure the success of your IoT product on every stage',
	},
	{
		href: '/services/development-services/',
		icon: '/images/services/prof-icon.svg',
		alt: 'Development services',
		title: 'Development services',
		desc: 'Custom IoT solutions',
	},
];
---

<BaseLayout forceLightTheme title="Services" description="ThingsBoard support plans, services and training sessions" pageId="services">
	<div class="services-page">
		<h1 class="main-title">Services</h1>

		<div class="services-cards">
			{
				cards.map((card) => (
					<a href={card.href} class="card">
						<img src={card.icon} alt={card.alt} />
						<h5 class="title">{card.title}</h5>
						<p>{card.desc}</p>
					</a>
				))
			}
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	.services-page {
		padding: 160px 20px 108px;
		max-width: 1200px;
		margin: 0 auto;
	}

	.main-title {
		text-align: center;
		margin-bottom: 80px;
		font-size: 32px;
		font-weight: 700;
		color: #212529;
	}

	.services-cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 12px;
	}

	.card {
		color: #212529;
		padding: 31px;
		border: 1px solid #ebebeb;
		position: relative;
		cursor: pointer;
		width: calc(33.33% - 8px);
		text-align: center;
		align-items: center;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		transition:
			box-shadow 0.15s ease,
			border-color 0.15s ease;

		img {
			width: 34px;
		}

		.title {
			font-weight: 600;
			margin: 8px 0 14px;
			font-size: 16px;
			transition: color 0.15s ease;
		}

		p {
			font-size: 14px;
			line-height: 22px;
			margin: 0;
			color: #212529;
		}

		&:hover {
			border-color: #2a7dec;
			box-shadow: inset 0 0 0 3px #2a7dec;

			.title {
				color: #2a7dec;
			}
		}
	}

	@media screen and (max-width: 768px) {
		.services-cards {
			flex-direction: column;
		}

		.card {
			width: 100%;
		}
	}
</style>
